# Ignore data files
data/*.csv
data/*.parquet

# Ignore model files

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore virtual environment
venv/

models/severity_model_rf.pkl
